<form action="/gigs" method="GET">
  <div>
    <label>Email</label><br />
    <input type="email" name="email" placeholder="you@example.com" required />
  </div>

  <div>
    <label>Password</label><br />
    <input type="password" name="password" placeholder="........" required />
  </div>

  <p>
    <button type="submit">Sign In</button>
    <a href="/gigs">Back to Gigs</a>
  </p>
</form>
