<form action="/gigs" method="POST">
  <div>
    <label>Title</label><br />
    <input name="title" required />
  </div>

  <div>
    <label>Venue</label><br />
    <input name="venue" required />
  </div>

  <div>
    <label>Date</label><br />
    <input type="date" name="date" required />
  </div>

  <p>
    <button type="submit">Add Gig</button>
    <a href="/gigs">Back</a>
  </p>
</form>
